<h1>
  Edit restriction #<%= @restriction.id %>
</h1>

<hr>

<!-- Form restriction start -->
<form action="/update_restriction/<%= @restriction.id %>" method="post">
<!-- Form restriction end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @restriction.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update restriction
  </button>
</form>

<hr>

<a href="/restrictions">
  Go back
</a>
