<h1>
  Add a new restriction
</h1>


<hr>

<form action="/create_restriction" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :token_calendar, @restriction.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create restriction
  </button>
</form>

<hr>

<a href="/restrictions">
  Go back
</a>
