<h1>
  Add a new restriction
</h1>


<hr>

<!-- Form restriction start -->
<form action="/create_restriction" method="post">
<!-- Form restriction end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :token_calendar, @restriction.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create restriction
  </button>
</form>

<hr>

<a href="/restrictions">
  Go back
</a>
