<!-- Form restriction start -->
<form action="/create_restriction_from_user" method="post">
<!-- Form restriction end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <!-- Input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create restriction
  </button>
</form>
