<form action="/create_restriction_from_user" method="post">

  <input type="hidden" name="user_id" value="<%= @user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create restriction
  </button>
</form>
