<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Restrictions

    <a data-toggle="collapse" href="#user_restrictions_new_form">
      Add restriction
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.restrictions.each do |restriction| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/restrictions/<%= restriction.id %>">
          <%= restriction.user_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_restriction_from_user/<%= restriction.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_restrictions_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
